In [ ]:
#finding the largest number
list=[]
n= int(input("enter the no of elements :"))
for i in range(0,n):
    ele=int(input())
    list.append(ele)
a=max(list)
print("largest no in the list is :",a)

In [ ]:
list1=[12,23,34,45,56,67,78,89]
list2=["a","s","d","f"]
list1.extend(list2)
print(list1)

In [ ]:
all(list1)

In [ ]:
any(list1)

In [ ]:
a=[]
a

In [ ]:
any(a)

In [ ]:
all(a)

In [ ]:
#checking a list is empty or not 
s=[1,2,3,4,5,6,7]
if (any(s)==True):
    print("the list is not empty")
else:
    print("list is empty")

In [ ]:
#creating a tuple
a=(12,23,34,45,56,67)
b=tuple("thegoodthebadandtheugly")
print(b)

In [5]:
#creating a tuple using user input
tup=[]
n=int(input("enter the no of elements:"))
for i in range(0,n):
        elem=float(input("enter elements:"))
        tup.append(elem)
new=tuple(tup)
print(new)

enter the no of elements:5
enter elements:a

ValueError: could not convert string to float: 'a'

enter the sequencethe king

ValueError: invalid literal for int() with base 10: 'the king'

In [7]:
number=input("enter sequence of numbers seperated with comma:")
listnumber=number.split(',')
tuple1=tuple(listnumber)
print('The entered list is :',listnumber)
print('The entered tuple is :',tuple1)

enter sequence of numbers seperated with comma:12,23,34,45,56,67,87
The entered list is : ['12', '23', '34', '45', '56', '67', '87']
The entered tuple is : ('12', '23', '34', '45', '56', '67', '87')