In [10]:
num=int(input("Enter the number"))
factorial=1
if num<0:
    print("sorry factorial does not exist for the number")
elif num==0:
    print("factorial of 0 is 1")
else:
    for i in range(1,num+1):
        factorial=factorial*i
    print("The factorial of",num,"is",factorial )

Enter the number7
The factorial of 7 is 5040

In [4]:
10

10

In [12]:
a="hello there"
a.upper()

'HELLO THERE'

In [13]:
a.title()

'Hello There'

In [14]:
a.capitalize()

'Hello there'

In [15]:
a.swapcase()

'HELLO THERE'

In [16]:
"*".join(a)

'h*e*l*l*o* *t*h*e*r*e'

In [17]:
a.replace('hello','hi')

'hi there'

In [24]:
a.split()

['hello', 'there']

SyntaxError: invalid syntax (<ipython-input-22-2a64c79223ba>, line 2)

In [23]:
str1="who are you"
str1.partition('who')

('', 'who', ' are you')

In [25]:
str1.partition('o')

('wh', 'o', ' are you')

In [27]:
str1.find('a')

4

In [28]:
str1.isupper()

False

In [29]:
str1.islower()

True

In [30]:
str1.istitle()

False

In [35]:
str1.strip('who')

' are you'

In [36]:
str1.replace('who','how')

'how are you'

In [37]:
s=4.5
type(s)

float

In [38]:
n1=input('enter first number:')
n2=input('enter the second number:')
print(n1+n2)

enter first number:13
enter the second number:56
1356

In [49]:
Firstname=input('first name:')
lastname=input('lastname:')
a=Firstname.capitalize()
b=lastname.capitalize()

print(a +' '+ b)

first name:mike
lastname:tyson
Mike Tyson

In [55]:
import math
print(math.sqrt(36))

6.0

In [66]:
from math import sin,radians
a=int(input("enter the angle:"))
b=radians(a)
print(sin(b))

enter the angle:0
0.0

In [ ]:
x=int(input("enter the number:"))
sum1=1
for i in range(1,x+1):
    print('The sum of squares of' ,x,'natural numbers is : ',pow())